
<div class="container">
  <h2> Register Account </h2>
<br /><br /><br />
            <form id="register-form">

                <div class="form-group">
                    <label for="username" class="bmd-label-floating ">Username</label>
                    <input type="text" class="form-control control-label" id="username">
                  </div>

                 <div class="form-group">
                    <label for="fullname" class="bmd-label-floating ">Full Name</label>
                    <input type="text" class="form-control control-label" id="fullname">
                  </div>

                <div class="form-group">
                    <label for="email" class="bmd-label-floating">Email address</label>
                    <input type="email" class="form-control" id="email">
                  </div>

              <div class="form-group">
                <label for="password" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
                <button type="submit" class="btn btn-info waves-effect ripple btn-raised">Submit<div class="ripple-container"></div></button>
            </form>
</div>
